In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from src.load_datasets import (
    load_air_polution_data,
    load_air_quality_data,
    load_climate_change_data,
)

In [2]:
np.random.seed(80)
plt.style.use("seaborn-v0_8-darkgrid")

In [15]:
dataframe = load_air_polution_data()
print(f"dataframe shape {dataframe.shape}")

dataframe["date"] = pd.to_datetime(dataframe["date"])

print(dataframe.info())
dataframe.head()

dataframe shape (43824, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    43824 non-null  datetime64[ns]
 1   pm2.5   41757 non-null  float64
 2   DEWP    43824 non-null  int64
 3   TEMP    43824 non-null  float64
 4   PRES    43824 non-null  float64
 5   cbwd    43824 non-null  object
 6   Iws     43824 non-null  float64
 7   Is      43824 non-null  int64
 8   Ir      43824 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(1)
memory usage: 3.0+ MB
None

                 date  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0 2010-01-01 00:00:00    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1 2010-01-01 01:00:00    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2 2010-01-01 02:00:00    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3 2010-01-01 03:00:00    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4 2010-01-01 04:00:00    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [10]:
dataframe.isna().sum()

date        0
pm2.5    2067
DEWP        0
TEMP        0
PRES        0
cbwd        0
Iws         0
Is          0
Ir          0
dtype: int64

In [11]:
dataframe.dropna(inplace=True)
print(f"dataframe shape {dataframe.shape}")
dataframe.head()

dataframe shape (41757, 9)

                date  pm2.5  DEWP  TEMP    PRES cbwd   Iws  Is  Ir
24  2010-1-2 0:00:00  129.0   -16  -4.0  1020.0   SE  1.79   0   0
25  2010-1-2 1:00:00  148.0   -15  -4.0  1020.0   SE  2.68   0   0
26  2010-1-2 2:00:00  159.0   -11  -5.0  1021.0   SE  3.57   0   0
27  2010-1-2 3:00:00  181.0    -7  -5.0  1022.0   SE  5.36   1   0
28  2010-1-2 4:00:00  138.0    -7  -5.0  1022.0   SE  6.25   2   0

In [20]:
time_diff = dataframe["date"] - dataframe["date"].shift(1)

In [29]:
avg_diff = np.mean(time_diff)
avg_diff

Timedelta('0 days 01:00:00')

In [32]:
avg_diff.microseconds

0

In [30]:
diff_ns = avg_diff.nanoseconds
diff_us = diff_ns / 1000
diff_ms = diff_us / 1000
diff_sec = diff_ms / 1000
diff_min = diff_sec / 60
diff_hour = diff_min / 60
diff_biz = (diff_hour / 24) / (7 / 5)  # assert no holidays
diff_day = diff_hour / 24
diff_wk = diff_day / 7
diff_semi = diff_day / 15.21875
diff_month = diff_day / 30.4375
diff_qtr = diff_day / 91.3125
diff_yr = diff_day / 365.25

In [31]:
diff_ns, diff_us, diff_ms, diff_sec, diff_min, diff_hour, diff_biz, diff_day, diff_wk, diff_semi, diff_month, diff_qtr, diff_yr

(0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)

In [26]:
eval = {
    abs(1 - abs(k)): v
    for k, v in {
        diff_us: "U",
        diff_ms: "L",
        diff_sec: "S",
        diff_min: "T",
        diff_hour: "H",
        diff_biz: "B",
        diff_day: "D",
        diff_wk: "W",
        diff_semi: "SMS",
        diff_month: "MS",
        diff_qtr: "QS",
        diff_yr: "AS",
    }.items()
}

In [27]:
eval

{1.0: 'AS'}