In [ ]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [ ]:
np.random.seed(80)
plt.style.use("seaborn-v0_8-darkgrid")

In [ ]:
from src.load_datasets import load_power_consumption

dataframe = load_power_consumption()

# dataframe =  load_power_consumption().pipe(create_index,'DateTime' ).pipe(resample_data, freq='H')

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

In [ ]:
from src.load_datasets import load_climate_change_data

dataframe = load_climate_change_data()

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

In [ ]:
from src.load_datasets import load_air_polution_data

dataframe = load_air_polution_data()

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

In [ ]:
from src.load_datasets import load_air_quality_data

dataframe = load_air_quality_data()

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

In [ ]:
from src.load_datasets import load_traffic_data

dataframe = load_traffic_data()

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

In [ ]:
dataframe.isna().sum()

In [1]:
from src.load_datasets import load_household_electricity_data

dataframe = load_household_electricity_data()

# load_household_electricity_data().pipe(create_index,'Date_Time' ).pipe(resample_data, freq='H')

print(f"dataframe shape {dataframe.shape}")

print(dataframe.info())

dataframe.head()

C:\Users\rdas6\OneDrive\Desktop\codespace\Python\timeseries\sk-time-example\src\load_datasets.py:26: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv(zfile, sep=seperator, header=0)

dataframe shape (2075259, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075259 entries, 0 to 2075258
Data columns (total 8 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Date_Time              object
 1   Global_active_power    float64
 2   Global_reactive_power  float64
 3   Voltage                float64
 4   Global_intensity       float64
 5   Sub_metering_1         float64
 6   Sub_metering_2         float64
 7   Sub_metering_3         float64
dtypes: float64(7), object(1)
memory usage: 126.7+ MB
None

,Date_Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0